<h1 class="heading">Edit Topic</h1>

<%= render 'form' %>

<h2 class="heading">Notes</h2>

<% @notes.each do |note| %>
  <ul class="topic inline">
    <li class="big_list"><%= link_to short_title(note.title), topic_note_path(@topic, note) %></li>
    <li class="small_list"><%= note.last_updated %></li>
    <li class="small_list"><%= note.type_name %></li>
    <li>
      <%= link_to edit_topic_note_path(@topic, note), title: 'Edit Topic' do %>
        <i class="fa fa-pencil-square-o"></i>
      <% end %>
    </li>
    <li>
      <%= link_to topic_note_path(@topic, note), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete Topic' do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </li>
  </ul>
<% end %>

<div class="center">
  <%= paginate @notes %>
</div>

<%= render 'shared/notes_footer' %>
